#rectangle{
    background-color: orange;
    text-align: center;
    border-style: dotted;
    border-width: thin;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 450px;
    margin-left: 450px;
    font-size: 18px;
    font-style:italic;
    font-weight:bold;
}

#circle{
    background-color: blue;
    text-align: center;
    border-style: dotted;
    border-width: thin;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 450px;
    margin-left: 450px;
    font-size: 18px;
    font-style:italic;
    font-weight:bold;
}

#triangle{
    background-color: yellowgreen;
    text-align: center;
    border-style: dotted;
    border-width: thin;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 450px;
    margin-left: 450px;
    font-size: 18px;
    font-style:italic;
    font-weight:bold;
}
p{
    text-align: center;
    margin: none;
}

img{
    height: 200px;
    width: 200px;


}

#button{
    padding: 10px 15px 11px !important;
    font-size: 18px !important;
    background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #57D6C7;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    
}
